.row {
    margin: 80px 0px 80px 0px;
}

img:hover {
    -webkit-transform: scale(1.5, 1.5);
    -ms-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
    transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
}

.logo-github,
.logo-instagram,
.logo-twitter,
.logo-linkedin,
.logo-lastfm,
.logo-youtube {
    width: 32px;
    height: 32px;
    margin: 0px;

    
}
